.shade1{
    background-color: #0A2647;
}
.shade2{
    background-color: #144272;
}
.shade3{
    background-color: #205295;
}
.shade4{
    background-color: #20539525;
}

a{
    color: white;
}

a:hover{
    text-decoration: dashed;
    color: aquamarine;
    font-size: larger;
}
.my-nav-link{
    text-decoration: none;

}

a.hover{
    color:rgb(255, 127, 195)
}
